<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        
        <!-- Navigation -->
        <% include ../static/partials/navbar.ejs %>
        <main class="container">
                <h1>Advertisments</h1>
                        <ul class="list-group">
                  <!-- #1 -->
                          <% ad.forEach((ad) => { %>
                  <!-- #2 -->
                            <li class="list-group-item">
                              <a href="/ad/<%= ad.id %>"> <%= ad.title %> </a>
                            </li>
                          <% }) %>
                        </ul>
        </main>
    
        <% include ../static/partials/baseScripts.ejs %>
</html>